/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Utils*/
.container-header, .container-body{
    background-color: #fff;
    margin: 20px 120px;
    padding: 20px;
}

.done{

}
.todo{

}

ul{
    list-style-type: none;
}
/*Body layout*/
body {
    background-color: lightgrey;
}

/*Banner*/
.banner {
    padding: 10px;
    background-color: #fff;
}

#white-logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
    vertical-align: middle;
}

/*Buttons*/
.buttons-container {
    background-color: #fff;

}

#task-button, #section-button{
   padding: 10px;
   background-color: #49abec;
   border-radius: 10%;
   border-style: none;
   color: #fff;

}

#section-button{
   border: 1px solid grey;
    background-color: white;
    color: grey;
}

/*Tasks*/

#bcg-blue{

}

#bcg-purple{

}

#bcg-green{

}

#bcg-orange{

}

#bcg-pink{

}
#bcg-light-green{
    
}