/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Utils*/
.container-header, .container-body{
    background-color: #fff;
    margin: 20px 120px;
    padding: 20px;
}

.task-status{
    display:inline-block;
    border: 1px solid currentColor;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 20px;

}
.done,.task-status{
    color: green;

}
.todo{
    color: red;

}

ul{
    list-style-type: none;
}
/*Body layout*/
body {
    background-color: lightgrey;
}

/*Banner*/
.banner {
    padding: 10px;
    background-color: #fff;
}

#white-logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
    vertical-align: middle;
}

/*Buttons*/
.buttons-container {
    background-color: #fff;

}

#task-button, #section-button{
   padding: 10px;
   background-color: #49abec;
   border-radius: 10%;
   border-style: none;
   color: #fff;

}

#section-button{
   border: 1px solid grey;
    background-color: white;
    color: grey;
}

/*Tasks*/
.task-text{
    font-size: 1rem;

}
.task-type{
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px 10px;
    vertical-align: middle;
}
   


#bcg-blue, .task-type{
    color: #fff;
    background-color: #49abec;

}

#bcg-purple{

}

#bcg-green{

}

#bcg-orange{

}

#bcg-pink{

}
#bcg-light-green{

}